.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db

include/metabase-data
.notes.txt
.astro
include/soda/configuration.yaml

include/dbt/profiles.yml
include/dbt/dbt_packages
include/dbt/logs
include/dbt/target
include/dbt/.user.yml